<div *ngIf="modalService.modal" class="open-modal animation fadeIn">
<div class="modal" tabindex="-1" role="dialog" style="display:block">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Detalle del cliente</h5>
          <button (click)="closeModal()" type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          
            <div class="container">
                <div class="row">
                  <div class="col-sm">
                      <ul *ngIf="cliente" class="list-group mb-3">
                        <li class="list-group-item active">{{ cliente.name }}</li>
                        <li class="list-group-item">{{ cliente.lastname }}</li>
                        <li class="list-group-item">{{ cliente.email }}</li>
                        <li class="list-group-item">{{ cliente.createdAt | date: "fullDate" }}</li>
                        <li class="list-group-item">{{ cliente.region.name }}</li>
                      </ul>
          
                      <div *ngIf="authService.hasRole('ROLE_ADMIN')" class="input-group mb-3">
                          <div class="custom-file">
                            <input (change)="selectImage($event)" type="file" class="custom-file-input" id="inputGroupFile04" aria-describedby="inputGroupFileAddon04">
                            <label class="custom-file-label" for="inputGroupFile04">Elegir foto</label>
                          </div>
                          <div class="input-group-append">
                            <button (click)="uploadFile()" [disabled]="!imageSelected" class="btn btn-outline-secondary" type="button" id="inputGroupFileAddon04">Enviar</button>
                          </div>
                      </div>
          
                      <div *ngIf="progress > 0" class="progress" style="height: 40px">
                          <div class="progress-bar progress-bar-striped" role="progressbar" [ngStyle]="{width: progress+'%'}" attr.aria-valuenow="{{progress}}" aria-valuemin="0" aria-valuemax="100">
                            {{progress}}%
                          </div>
                      </div>
                      
                  </div>
          
                  <div class="col-sm">
                    <img *ngIf="cliente?.image"  src="http://localhost:8080/api/uploads/img/{{cliente.image}}" alt="{{cliente.image}}" class="img-thumbnail rounded">
                  </div>
                </div>

                <div class="row">
                  <div *ngIf="cliente.invoices.length == 0" class="alert alert-info my-4">
                    No hay facturas asignadas para el cliente {{cliente.name}} {{cliente.lastname}}
                  </div>

                  <table *ngIf="cliente.invoices.length > 0" class="table table-bordered table-striped my-4">
                    <thead>
                      <th>Folio</th>
                      <th>Descripción</th>
                      <th>Fecha</th>
                      <th>Total</th>
                      <th>Detalle</th>
                    </thead>
                    <tbody>
                      <tr *ngFor="let invoice of cliente.invoices">
                        <td> {{ invoice.id }} </td>
                        <td> {{ invoice.description }} </td>
                        <td> {{ invoice.createdAt }} </td>
                        <td> {{ invoice.total }} </td>
                        <td><button class="btn btn-primary btn-sm" [routerLink]="['/invoices', invoice.id]">Ver</button></td>
                      </tr>
                    </tbody>
                  </table>
                </div>

              </div>

        </div>
        <div class="modal-footer">
          <button (click)="closeModal()" type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
        </div>
      </div>
    </div>
  </div>
  </div>