<div class="card bg-light" *ngIf="invoice">
  <div class="card-header">{{title}} : {{invoice.description}}</div>
  <div class="card-body">
    <h4 class="card-title">
      <a [routerLink]="['/clientes']" class="btn btn-light btn-xs">&laquo; volver</a>
    </h4>

    <ul class="list-group my-2">
      <li class="list-group-item list-group-item-primary">
        Datos del cliente
      </li>
      <li class="list-group-item">{{invoice.client.name}}</li>
      <li class="list-group-item">{{invoice.client.lastname}}</li>
    </ul>

    <ul class="list-group my-2">
        <li class="list-group-item list-group-item-primary">
          Datos de la factura
        </li>
        <li class="list-group-item">Folio: {{invoice.id}}</li>
        <li class="list-group-item">Descripción: {{invoice.description}}</li>
        <li class="list-group-item">Fecha: {{invoice.createdAt}}</li>
    </ul>

    <table class="table table-striped table-hover table-bordered my-3">
      <thead>
        <tr>
          <th>Producto</th>
          <th>Precio</th>
          <th>Cantidad</th>
          <th>Total</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of invoice.items">
          <td>{{item.product.name}}</td>
          <td>{{item.product.price}}</td>
          <td>{{item.quantity}}</td>
          <td>{{item.amount}}</td>
        </tr>
      </tbody>
    </table>
    <h5 class="float-right">
      <span>Grand Total</span>: <span class="badge badge-secondary">{{invoice.total}}</span>
    </h5>

    <div class="card border-info mb-4" style="max-width: 300px">
        <div class="card card-header">
          Observaciones
        </div>
      <div class="card card-body">
        <p *ngIf="!invoice.observation">No tiene Observación</p>
        <p *ngIf="invoice.observation">{{invoice.observation}}</p>
      </div>
    </div>

  </div>
</div>