<div class="card bg-light" *ngIf="invoice">
  <div class="card-header">{{title}} : {{invoice.description}}</div>
  <div class="card-body">
    <h4 class="card-title">
      <a [routerLink]="['/clientes']" class="btn btn-light btn-xs">&laquo; volver</a>
    </h4>

    <ul class="list-group my-2">
      <li class="list-group-item list-group-item-primary">
        Datos del cliente
      </li>
      <li class="list-group-item">{{invoice.client.name}}</li>
      <li class="list-group-item">{{invoice.client.lastname}}</li>
    </ul>

    <ul class="list-group my-2">
        <li class="list-group-item list-group-item-primary">
          Datos de la factura
        </li>
        <li class="list-group-item">Folio: {{invoice.id}}</li>
        <li class="list-group-item">Descripción: {{invoice.description}}</li>
        <li class="list-group-item">Fecha: {{invoice.createdAt}}</li>
    </ul>

  </div>
</div>