<div class="card border-primary text-center">
  <div class="card-header">
    {{title}}
  </div>
  <div class="card-body">
    
    <form method="POST">
    
        <div>
            <mat-form-field>
              <input matInput [(ngModel)]="user.username" #username="ngModel" type="text" placeholder="Nombre de usuario"  name="username"   autofocus required>
            </mat-form-field>
           
          <div *ngIf="username.invalid && (username.dirty || username.touched)">
            <small class="text-danger" *ngIf="username.errors.required">
              Ingrese el campo obligatorio.
            </small>
    
          </div>

        </div>

        <div>
              <mat-form-field>
                <input matInput [(ngModel)]="user.password" #password="ngModel" type="password" placeholder="Contraseña"  name="password"   required autocomplete>
              </mat-form-field>
 
            <div *ngIf="password.invalid && (password.dirty || password.touched)">
              <small class="text-danger" *ngIf="password.errors.required">
                Ingrese el campo obligatorio.
              </small>
            </div>

        </div>

        <div>
            <button (click)="login()" mat-raised-button color="primary">Ingresar</button>
        </div>
      
    </form>
  </div>
</div>