<div class="card">
  <div class="card-header">
    {{title}}
  </div>
  <div class="card-body">
    <form>
      <div>
        <mat-form-field>
          <input matInput type="text" placeholder="Nombre" [(ngModel)]="client.name" name="name">
        </mat-form-field>
      </div>

      <div>
        <mat-form-field>
          <input matInput type="text" placeholder="Apellidos" [(ngModel)]="client.lastname" name="lastname">
        </mat-form-field>
      </div>

      <div>
        <mat-form-field>
          <input matInput type="text" placeholder="Email" [(ngModel)]="client.email" name="email">
        </mat-form-field>
      </div>

      <div>
        <button mat-raised-button color="primary" (click)="create()" *ngIf="!client.id else elseBlock">Crear</button>
        <ng-template #elseBlock>
            <button mat-raised-button color="primary" (click)="update()">Editar</button>
        </ng-template>
      </div>
    </form>
  </div>
</div>