<app-detalle *ngIf="clientSelected" [cliente]="clientSelected"></app-detalle>

<div class="card border-primary mb-3">
    <div class="card-header">Clientes</div>
    <div class="card-body text-primary">
      <h5 class="card-title">Listado de clientes</h5>

      <div class="my-2 text-left">
        <button *ngIf="authService.hasRole('ROLE_ADMIN')" class="btn btn-rounded btn-primary" type="button"
        [routerLink]="['/clientes/form']">
          Crear Cliente
        </button>
      </div>  
      <div *ngIf="clientes?.length == 0" class="alert alert-info">
        No hay registros en la base de datos!
      </div>    

      <table class="table table-bordered table-striped" *ngIf="clientes?.length>0">
        <thead>
          <tr>
          <th>#</th>
          <th>nombre</th>
          <th>apellido</th>
          <th>email</th>
          <th>fecha</th>
          <th *ngIf="authService.hasRole('ROLE_ADMIN')">Editar</th>
          <th *ngIf="authService.hasRole('ROLE_ADMIN')">Eliminar</th>
        </tr>
        </thead>
        <tbody>
          <tr *ngFor="let cliente of clientes">
            <td><img (click)="openModal(cliente)" *ngIf="cliente?.image"  src="http://localhost:8080/api/uploads/img/{{cliente.image}}" alt="{{cliente.image}}" class="img-thumbnail rounded" style="width: 64px; cursor: pointer">
              <img (click)="openModal(cliente)" *ngIf="!cliente?.image"  src="http://localhost:8080/images/no-user.png" alt="Sin foto" class="img-thumbnail rounded" style="width: 64px; cursor: pointer"></td>
            <td>{{cliente.name}}</td>
            <td>{{cliente.lastname | uppercase }}</td>
            <td>{{cliente.email}}</td>
            <td>{{cliente.createdAt | date: "EEEE dd, MMMM yyyy"}}</td>
            <td *ngIf="authService.hasRole('ROLE_ADMIN')">
              <button type="button" [routerLink]="['/clientes/form',cliente.id]" class="btn btn-primary">Editar</button>
            </td>

            <td *ngIf="authService.hasRole('ROLE_ADMIN')">
                <button type="button" class="btn btn-danger" (click)="delete(cliente)">Eliminar</button>
            </td>

          </tr>

        </tbody>
      </table>

      <app-paginator-nav *ngIf="paginador" [paginador] = "paginador"></app-paginator-nav>

    </div>
  </div>